.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
 
.footerContent{
	width: 80%;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
