.footer {
  bottom: 0;
  position: fixed;
  z-index:1000;
  width: 100%;
  text-align: justify;
}

.footerContent{

  padding-bottom: 1%;
	/*width: 80%;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;*/
}
.homepgFooter_left {
  font-family: 'Overpass Mono', monospace;
  font-size: 8.8pt;

}
.homepgFooter_right {
  font-family: 'Overpass Mono', monospace;
font-size: 8.5pt;
text-decoration: none;
}

.homepgFooter_right:hover a {
  color:white;
text-decoration: none;
}
  /*position: absolute;
 /*text-align: right;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;*/
}
