.footer{
	width: 100%;
	position: fixed;
	margin-bottom: 0px;
	height: 80px;
	background-color: #1A1A1A;
	display: block;
}
 
.footerContent{
	width: 80%;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
