* {
 padding: 0;
 margin: 0;
 postition:relative;
}
#menu {
padding-left: 12%;
padding-top: 50px;
}
#logo, #logo1 {
 float:left;
 padding-left: initial;
 position: fixed;
 z-index: 1000;
}
#nav-placeholder {
  position: relative;
}
#backgound_image {
  padding-top: 0px;
}
.background-image {
    background-image: none;
    position: absolute;
    width: 100%;
}
ul {
   list-style-type:none;
   margin:0;
   padding:1px;
   position: absolute;
   /*new style 27 march */
   position: fixed;
   z-index: 1000;
}
/*Create a horizontal list with spacing*/
li  {
   display:inline-block;
   float: left;
   margin-right: 1px;
   padding: 1px;
}
/*Style for menu links*/
li a {
 font-size: 15px;
   display:block;
   padding: 10px 20px 10px 20px;
  /* min-width:140px;*/
   height: 10px;
   text-align: center;
   line-height: 10px;
  /* font-family: "Helvetica", Arial, serif;*/
   color: #000;
   background: #fff;
   text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
   background: #000;
 color: #fff;
}

/*Style for dropdown links*/
li:hover ul a {
   background: #fff;
   color: #000;
   height: 20px;
   line-height: 20px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
   background: #000;
   color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
   display: none;
}
/*Make dropdown links vertical*/
li ul li {
   display: block;
   float: none;
   padding: 1px;
   margin-left: -2px;
}
/*Prevent text wrapping*/
li ul li a {
   width: auto;
   min-width: 100px;
   padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
   display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
   /*font-family: "Helvetica Neue", Arial, sans-serif;*/
   text-decoration: none;
   text-align: center;
   display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
   display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
   display: block;
}
.ul-2 {

    position: relative;
    left: 100%;
    top: -20px;
    margin-top: -1px;

}
/* new code for resonsive menu*/
/*label {
 position: absolute;
 left: 0;
 display: none;
}	*/

/*Responsive Styles*/
@media screen and (max-width : 760px){
   /*Make dropdown links appear inline*/
   ul {
       position: static;
       display: none;
   }
   /*Create vertical spacing*/
   li {
       margin-bottom: 1px;
   }
   /*Make all menu links full width*/
   ul li, li a {
       width: 100%;
   }
   /*Display 'show menu' link*/
   .show-menu {
       display:block;
    padding-right: 14px;
    text-align: right;
    margin-top: 30px;
    float: right;
   }
#backgound_image {
  padding-top: 50%;
}
#logo1{
  left: 50%;
transform: translate(-50%);
position: absolute;
}
#logo{
  display: none;
}
#first { padding-top: 40px;}
 #menu {padding-left: 0px;
 padding-top:70px;}
li a{
  padding: 10px 0px 10px 0px;
  font-size: 14px;
}
}



/* Footer style goes there */
.footer {
  bottom: 0;
  position: fixed;
  z-index:1000;
  width: 100%;
  text-align: justify;
}

.footerContent{

  padding-bottom: 1%;
	/*width: 80%;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;*/
}
.homepgFooter_left {
  font-family: 'Overpass Mono', monospace;
  font-size: 8.8pt;

}
.homepgFooter_right {
  font-family: 'Overpass Mono', monospace;
font-size: 8.5pt;
text-decoration: none;
}

.homepgFooter_right:hover a {
  color:white;
text-decoration: none;
}
@media screen and (max-width : 760px){
.homepgFooter_left {
  font-size: 7pt;
}
.homepgFooter_right {
font-size: 6.5pt;}
}
